button.nav {
    background-color:white;
    color: black;
    height: 50px;
    border-color: grey;
    -webkit-border-radius: 10px;
    border: 2px solid transparent;
    padding:5px;
    width:76px;
    margin-bottom:5px;
    margin-top: 5px;
}

div.nav{
    background-color:#303F9F;
    height: 60px;
    padding-left: 30px;
}

div.dropbox{
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: white;
    width: 50%;
    height: 50%;
    align-content: center;
/*
    -webkit-box-shadow: 0px 0px 85px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 85px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 85px 0px rgba(0,0,0,0.75); */
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}



div.titlebar{
    border-width: 1px;
    border-color: lightgray;
    -webkit-border-radius: 10px;
    background-color: lightgrey;
    min-height: 30px;
    margin: 5px
}

body{
    background-color:#FFFFFF;
    padding: 0px;
    margin: 0px;
    height: auto;
}

#split_pane{
    display: -webkit-flex;
    display: flex;
    width:100%;
}

#left_pane{
    -webkit-flex:1;
    flex:1;
    border: 1px solid white;
    min-height: 450px;
    max-height:100%;
    background-color:yellow;
    list-style:none;
    margin:0;
    overflow:auto;
    padding:0;
    text-indent:10px;
    max-height: 40vh
}

#right_pane{
    -webkit-flex:1;
    flex:1;
    border: 1px solid white;
    background-color:green;
    height: 500px;
    color:green;
    min-height: 450px;
    height: 100%;
}

.graybox{
    width:200px;
    height:200px;
    background-color:#CCCCCC;
}
.overlay-layer{
    width:200px;
    height:40px;
    position:absolute;
    margin-top:-40px;
    opacity:0.5;
    background-color:#000000;
    z-index:0;
    font-size:25px;
    color:#FFFFFF;
    text-align:center;
    line-height:40px;
}
.upload_btn{
    position:absolute;
    width:200px;
    height:40px;
    margin-top:-40px;
    z-index:10;
    opacity:0;
}
.overlay-layer{
    width:200px;
    height:40px;
    position:absolute;
    margin-top:-40px;
    opacity:0.5;
    background-color:#000000;
    z-index:0;
    font-size:25px;
    color:#FFFFFF;
    text-align:center;
    line-height:40px;
}
.hidden_upload_btn{
    position:absolute;
    width:200px;
    height:40px;
    margin-top:-40px;
    z-index:10;
    opacity:0;
}

#instructions_list{
  list-style:none;
  max-height:inherit;
  height: inherit
  margin:0;
  overflow:auto;
  padding:0;
  text-indent:10px;
}

li{
    line-height: 25px;
}

#filesIn{
/*  border-style:dashed;
  border-width: medium;
  border-color: lightgray; */
  height:95%;
  width:95%;
  position: absolute;
  top:2.5%;
  left: 2.5%;
  padding: 0px;
}
